body {
    margin:0;
}

a{
    font-weight: bold;
    font-family: "Calibri Light";
    font-size: larger;
    z-index: -1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.94;
    z-index: 10;
}


li.firstListItemMenuTop{
    padding-left: 150px;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    padding: 14px;
    padding-left: 125px;
    padding-right: 125px;
    text-decoration: none;
}


.main {
    padding: 16px;
    height: 1080px; /* Used in this example to enable scrolling */
    background-image: url(../ressources/oans.jpg);
    background-repeat: no-repeat;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.galerie {
    padding: 16px;
    height: 1080px; /* Used in this example to enable scrolling */
    background-image: url(../ressources/zwoa.jpg);
    background-repeat: no-repeat;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}
.calender {
    padding: 16px;
    height: 1080px; /* Used in this example to enable scrolling */
    background-image: url(../ressources/drei.jpg);
    background-repeat: no-repeat;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact {
    padding: 16px;
    height: 1080px; /* Used in this example to enable scrolling */
    background-image: url(../ressources/vier.jpg);
    background-repeat: no-repeat;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about {
    padding: 16px;
    height: 1080px; /* Used in this example to enable scrolling */
    background-image: url(../ressources/fuenf.jpg);
    background-repeat: no-repeat;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/*Start Gallery:*/
.galeryLayout{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 30%;
}

.thumber{
    width: 10%;
    height: 10%;
    border-color: white;
    border-style: solid;
    border-width: 1px;
}
.bxslider{
    z-index: 1;
}
/*End Gallery*/